@import "normalize";
@import "libs";
@import "fonts";
@import "animate";
@import "~overlayscrollbars/css/overlayscrollbars";
@import "node_modules/swiper/dist/css/swiper";
@import "node_modules/sweetalert2/src/sweetalert2";

/* lib */
.contain {
  max-width: 1640px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  @include respond-to(w-1919) {
    max-width: 1420px;
  }
  @include respond-to(w-1599) {
    max-width: 1240px;
  }
  @include respond-to(w-1366) {
    max-width: 1190px;
  }
  @include respond-to(w-1280) {
    max-width: 1120px;
  }
  @include respond-to(w-1279) {
    max-width: 1000px;
  }
  @include respond-to(w-1199) {
    max-width: 900px;
  }
  @include respond-to(w-1023) {
    max-width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  @include respond-to(w-799) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  background-color: #2e354f;
  visibility: hidden;
  transition: $animation_easy;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    width: 30%;
    height: 30%;
    background: url("../images/preloader.gif") center no-repeat;
    background-size: contain;
  }
  &_active {
    visibility: visible;
    opacity: 1;
  }
}
.js_order {
  @include button_reset;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Cinzel;
  color: $color-white;
  background-color: $color-red;
  @include respond-to(w-1366) {
    width: 235px;
    height: 45px;
  }
  @include respond-to(w-1279) {
    width: 185px;
    height: 42px;
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}
.main_title {
  width: 50%;
  margin: 0 auto 3vw;
  @include respond-to(w-799) {
    width: 70%;
  }
  &:before {
    content: '';
    display: block;
    width: 30%;
    border-top: 3px solid$color-red;
    margin: auto;
  }
  .text {
    color: $color-white;
    font-family: $font-Cinzel;
    font-size: 50px;
    margin-top: 3vw;
    text-align: center;
    @include respond-to(w-1919) {
      font-size: 44px;
    }
    @include respond-to(w-1599) {
      font-size: 38px;
    }
    @include respond-to(w-1366) {
      font-size: 34px;
    }
    @include respond-to(w-1279) {
      font-size: 29px;
    }
    @include respond-to(w-799) {
      font-size: 25px;
    }
  }
  small {
    text-align: center;
    display: block;
    margin: 20px auto;
    color: $color-red;
    font-size: 30px;
    @include respond-to(w-1919) {
      font-size: 27px;
      margin: 17px auto;
    }
  }
}
.ul_vantage {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style-type: none;
    @include respond-to(w-799) {
      width: 33.3%;
    }
    i {
      font-size: 90px;
      display: block;
      color: $color-red;
      @include respond-to(w-1366) {
        font-size: 80px;
      }
      @include respond-to(w-1279) {
        font-size: 70px;
      }
    }
    span {
      width: 80%;
      text-align: center;
      margin: 30px auto 0;
      display: block;
      font-family: $font-Cinzel;
      @include respond-to(w-799) {
        width: 90%;
        word-wrap: break-word;
      }
    }
  }
}

/* website */
body {
  background-color: $color-blue;
  color: $color-white;
  font-family: $font-Raleway-Regular;
  font-size: 20px;
  @include respond-to(w-1599) {
    font-size: 18px;
  }
  @include respond-to(w-1279) {
    font-size: 16px;
  }
  @include respond-to(w-1023) {
    font-size: 18px;
  }
}
.page_padding {
  padding-top: 95px;
  @include respond-to(w-1366) {
    padding-top: 70px;
  }
}
.section_services {
  @include img_cover("../images/services.jpg");
  padding: 5vw 0 3vw;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.2;
    @include position_abs;
  }
  .box {
    position: relative;
    z-index: 1;
    .block {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      margin: 6vw auto 0;
      @include respond-to(w-1279) {
        width: 87%;
      }
      @include respond-to(w-1023) {
        flex-direction: column;
      }
      .bn {
        width: 50%;
        display: flex;
        margin-bottom: 140px;
        @include respond-to(w-1366) {
          margin-bottom: 90px;
        }
        @include respond-to(w-1279) {
          margin-bottom: 80px;
        }
        @include respond-to(w-1023) {
          width: 100%;
        }
        .icon {
          width: 40%;
          display: flex;
          justify-content: center;
          position: relative;
          .ico {
            width: 120px;
            height: 120px;
            position: absolute;
            left: -50px;
            top: 200px;
            z-index: 1;
            border-radius: 50%;
            overflow: hidden;
            background-color: $color-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.8;
            @include respond-to(w-1919) {
              width: 105px;
              height: 105px;
              top: 185px;
            }
            @include respond-to(w-1599) {
              width: 90px;
              height: 90px;
              top: 180px;
            }
            @include respond-to(w-1366) {
              width: 85px;
              height: 85px;
              top: 170px;
              left: -40px;
            }
            @include respond-to(w-1279) {
              width: 75px;
              height: 75px;
              top: 130px;
              left: -15px;
            }
            @include respond-to(w-1023) {
              top: 180px;
              left: 10px;
            }
            i {
              color: $color-red;
              font-size: 80px;
              @include respond-to(w-1919) {
                font-size: 70px;
              }
              @include respond-to(w-1599) {
                font-size: 60px;
              }
              @include respond-to(w-1366) {
                font-size: 55px;
              }
            }
          }
          .image {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: linear-gradient(to right, rgba(183,60,101,1) 0%, rgba(183,60,101,0.39) 100%);
            overflow: hidden;
            box-shadow: 0px 2px 73px 0px rgba(36,34,50,0.93);
            border: 1px solid$color-blue;
            @include respond-to(w-1919) {
              width: 280px;
              height: 280px;
            }
            @include respond-to(w-1599) {
              width: 260px;
              height: 260px;
            }
            @include respond-to(w-1366) {
              width: 240px;
              height: 240px;
            }
            @include respond-to(w-1279) {
              width: 200px;
              height: 200px;
            }
            @include respond-to(w-1023) {
              width: 250px;
              height: 250px;
            }
            .insert {
              @include set_cover;
              height: 100%;
              opacity: 0.6;
            }
          }
        }
        .texts {
          width: 60%;
          padding: 0 40px;
          box-sizing: border-box;
          @include respond-to(w-1599) {
            padding: 0 50px;
          }
          @include respond-to(w-1366) {
            padding: 0 45px;
          }
          @include respond-to(w-1279) {
            padding: 0 30px;
          }
          h3 {
            font-family: $font-Cinzel;
            font-size: 30px;
            @include respond-to(w-1919) {
              font-size: 27px;
            }
            @include respond-to(w-1599) {
              font-size: 26px;
            }
            @include respond-to(w-1366) {
              font-size: 24px;
            }
            @include respond-to(w-1279) {
              font-size: 21px;
            }
            @include respond-to(w-1023) {
              font-size: 25px;
            }
          }
          .desc {
            height: 180px;
            margin-top: 30px;
            font-size: 22px;
            line-height: 1.5;
            overflow: hidden;
            @include respond-to(w-1919) {
              font-size: 20px
            }
            @include respond-to(w-1599) {
              line-height: 1.4;
              height: 190px;
              margin-top: 20px;
            }
            @include respond-to(w-1366) {
              font-size: 19px;
            }
            @include respond-to(w-1279) {
              font-size: 17px;
            }
            @include respond-to(w-1023) {
              font-size: 18px;
              height: 120px;
            }
          }
          .price {
            width: 80%;
            height: 40px;
            margin-top: 25px;
            font-family: $font-Cinzel;
            font-size: 26px;
            background-color: #b73c64cc;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 10px;
            border-radius: 5px;
            @include respond-to(w-1599) {
              font-size: 25px;
            }
            @include respond-to(w-1366) {
              font-size: 23px;
              height: 36px;
            }
            @include respond-to(w-1279) {
              font-size: 21px;
              height: 33px;
            }
          }
        }
      }
    }
    small {
      width: 90%;
      margin: auto;
      font-size: 35px;
      text-align: center;
      display: block;
      @include respond-to(w-1919) {
        font-size: 30px;
      }
      @include respond-to(w-1366) {
        font-size: 26px;
      }
      @include respond-to(w-1279) {
        font-size: 24px;
      }
    }
    .all_services {
      @include a_reset($color-white);
      width: 400px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-Cinzel;
      color: $color-white;
      background-color: $color-red;
      margin: 50px auto;
      font-size: 25px;
      @include respond-to(w-1919) {
        width: 320px;
        height: 65px;
        margin: 45px auto;
        font-size: 23px;
      }
      @include respond-to(w-1366) {
        width: 320px;
        height: 57px;
        margin: 40px auto;
      }
      @include respond-to(w-1279) {
        width: 300px;
        margin: 30px auto;
        font-size: 21px;
      }
    }
  }
}
.os-scrollbar-handle {
  background: $color-red !important;
}

header {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include respond-to(w-1366) {
    height: 70px;
  }
  .logo {
    @include a_reset($color-white);
    font-family: $font-Cinzel;
    text-transform: uppercase;
    font-size: 50px;
    @include respond-to(w-1366) {
      font-size: 45px;
    }
  }
  .header_block {
    height: 100%;
    border-bottom: 1px solid$color-red;
    background-color: rgba(36, 34, 50, 0.4);
    .contain {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .js_order {
      @include respond-to(w-1023) {
        display: none;
      }
    }
    .mobile_menu {
      display: none;
      @include respond-to(w-1023) {
        display: block;
      }
    }
  }
  nav {
    font-family: $font-Cinzel;
    width: 80%;
    margin: -60px auto 0;
    transition: $animation_easy;
    @include respond-to(w-1366) {
      margin: -43px auto 0;
    }
    @include respond-to(w-1279) {
      width: 60%;
    }
    @include respond-to(w-1023) {
      width: 100%;
      height: 100vh;
      background-color: $color-blue;
      transform: translateX(100%);
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px 45px;
      box-sizing: border-box;
    }
    @include respond-to(w-639) {
      padding: 10px 20px;
    }
    .mobile_logo {
      height: 100px;
      display: none;
      align-items: center;
      justify-content: space-between;
      @include respond-to(w-1023) {
        display: flex;
        .menu_close {
          @include button_reset;
          width: 35px;
          height: 35px;
          @include img_contain("../images/close.svg");
        }
      }
    }
    .js_order {
      display: none;
      @include respond-to(w-1023) {
        display: flex;
        margin: auto;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      @include respond-to(w-1023) {
        flex-direction: column;
        height: 80%;
      }
      li {
        list-style-type: none;
        margin: 0 20px;
        @include respond-to(w-1279) {
          margin: 0 15px;
        }
        @include respond-to(w-1023) {
          margin: 4vw 15px;
        }
        a {
          @include a_reset($color-white);
          font-size: 22px;
          font-weight: bold;
          position: relative;
          display: flex;
          justify-content: center;
          @include respond-to(w-1919) {
            font-size: 20px;
          }
          @include respond-to(w-1366) {
            font-size: 18px;
          }
          @include respond-to(w-1279) {
            font-size: 16px;
          }
          @include respond-to(w-1023) {
            font-size: getVW(80px);
          }
        }
        .active {
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background-color: $color-red;
            border-radius: 50%;
            margin-top: -15px;
          }
        }
      }
    }
  }
  .menu_active {
    transform: translateY(0) !important;
  }
}
.section_gallary {
  padding-bottom: 8vw;
  box-sizing: border-box;
  .contain {
    box-shadow: $box_shadow;
    border: 1px solid$color-red;
    background-color: $color-black;
  }
  .swiper-slide {
    @include set_cover;
    height: 40vw;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 20%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    }
    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    }
  }
  .gallery-thumbs {
    margin-top: 10px;
    .swiper-slide {
      height: 10vw;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        @include position_abs;
        background-color: $color-black;
        opacity: 0.5;
      }
    }
  }
}
.page_main {
  .basic {
    height: 100vh;
    .swiper-slide {
      @include set_cover;
    }
    .swiper-button-next, .swiper-button-prev {
      width: 100px;
      height: 100px;
      color: $color-white;
      background-image: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-to(w-1279) {
        width: 80px;
        height: 80px;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-red;
        opacity: 0;
        transition: $animation_easy;
        border-radius: 50%;
        position: absolute;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      i {
        pointer-events: none;
        color: $color-white;
        font-size: 60px;
        position: relative;
        z-index: 1;
        @include respond-to(w-1279) {
          font-size: 45px;
        }
      }
    }
    .swiper-button-next {
      right: 30px;
      i {
        margin-right: -5px;
      }
    }
    .swiper-button-prev {
      left: 30px;
      i {
        margin-left: -5px;
      }
    }
    .contents {
      width: 100%;
      height: calc(100% - 8vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include position_abs;
      margin-top: 8vw;
      z-index: 1;
      .header {
        width: 50%;
        border-top: 3px solid$color-red;
        padding: 2vw 0 3vw;
        text-align: center;
        font-family: $font-Cinzel;
        @include respond-to(w-1366) {
          padding: 2vw 0 2.2vw;
        }
        @include respond-to(w-1279) {
          border-top: 2px solid$color-red;
        }
        @include respond-to(w-1023) {
          width: 65%;
        }
        .company {
          font-size: 90px;
          @include respond-to(w-1366) {
            font-size: 80px;
          }
          @include respond-to(w-1279) {
            font-size: 70px;
          }
        }
        h1 {
          margin-top: 20px;
          font-size: 40px;
          @include respond-to(w-1919) {
            font-size: 37px;
          }
          @include respond-to(w-1366) {
            font-size: 30px;
          }
          @include respond-to(w-1279) {
            font-size: 25px;
          }
        }
      }
      .address {
        width: 50%;
        border-top: 3px solid$color-red;
        padding-top: 30px;
        text-align: center;
        @include respond-to(w-1366) {
          padding-top: 10px;
        }
        @include respond-to(w-1279) {
          border-top: 2px solid$color-red;
        }
        @include respond-to(w-1023) {
          width: 65%;
        }
        @include respond-to(w-799) {
          line-height: 1.4;
        }
        .phone {
          @include a_reset($color-red);
          margin: 0 20px;
          font-size: 25px;
          @include respond-to(w-1366) {
            font-size: 22px;
          }
          @include respond-to(w-1279) {
            font-size: 19px;
          }
          @include respond-to(w-1023) {
            font-size: 21px;
          }
        }
        .soc {
          width: 40%;
          display: flex;
          justify-content: space-between;
          margin: 2vw auto 0;
          @include respond-to(w-1023) {
            width: 55%;
            margin: 5vw auto 0;
          }
          .bn {
            i {
              color: $color-red;
              font-size: 40px;
              @include respond-to(w-1279) {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  .about {
    padding: 10vw 0;
    background-color: $color-blue;
    position: relative;
    overflow: hidden;
    @include respond-to(w-1366) {
      padding: 9vw 0;
    }
    @include respond-to(w-1279) {
      padding: 8vw 0;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 60vw;
      @include img_contain("../images/woman.png");
      position: absolute;
      top: 3vw;
      right: -15vw;
      opacity: 0.3;
    }
    .block {
      width: 70%;
      margin: 30px auto 0;
      text-align: center;
      line-height: 1.6;
      font-size: 22px;
      position: relative;
      z-index: 1;
      @include respond-to(w-1919) {
        font-size: 20px;
      }
      @include respond-to(w-1366) {
        font-size: 19px;
      }
      @include respond-to(w-1279) {
        font-size: 16px;
      }
      @include respond-to(w-1023) {
        width: 80%;
      }
      .video {
        width: 60%;
        margin: 3vw 0 0 3vw;
        border: 2px solid$color-red;
        box-shadow: $box_shadow;
        @include respond-to(w-799) {
          width: 100%;
          margin: 3vw 0 0 0;
        }
        iframe {
          width: 100%;
          height: 24vw;
          @include respond-to(w-799) {
            height: 50vw;
          }
        }
      }
      .ul_vantage {
        width: 80%;
        margin: 5vw auto 0;
        @include respond-to(w-1366) {
          width: 90%;
        }
        @include respond-to(w-1023) {
          width: 100%;
        }
      }
    }
  }
  .section_order {
    height: 200px;
    background-color: $color-blue;
    @include respond-to(w-1366) {
      height: 180px;
    }
    @include respond-to(w-799) {
      height: 100%;
      padding: 40px 0;
    }
    .contain {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond-to(w-799) {
        justify-content: center;
        flex-direction: column;
      }
    }
    .left {
      @include respond-to(w-799) {
        text-align: center;
      }
      .title {
        font-weight: bold;
        font-size: 35px;
        @include respond-to(w-1919) {
          font-size: 30px;
        }
        @include respond-to(w-1366) {
          font-size: 26px;
        }
        @include respond-to(w-1279) {
          font-size: 24px;
        }
      }
      .mini {
        margin-top: 20px;
        font-size: 25px;
        @include respond-to(w-1919) {
          font-size: 22px;
        }
        @include respond-to(w-1366) {
          font-size: 20px;
          margin-top: 15px;
        }
        @include respond-to(w-799) {
          margin-top: 5px;
        }
      }
    }
    .js_order {
      @include respond-to(w-799) {
        margin-top: 20px;
        width: 50%;
      }
      @include respond-to(w-479) {
        width: 70%;
      }
    }
  }
}
.page_services {
  .info_box {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include img_cover("../images/footer.jpg");
    .main_title {
      margin: 0;
      &:before {
        display: none;
      }
      .text {
        font-family: $font-Raleway-Regular;
      }
    }
  }
  .section_services {
    background-image: none;
    .box {
      .block {
        .bn {
          .image {
            box-shadow: 0 0 28px 0 #4a4a4a;;
            .insert {
              opacity: 0.7;
            }
          }
        }
      }
      small {
        margin-top: 4vw;
      }
      .js_order {
        margin: 40px auto 10px;
      }
    }
  }
}
.page_articles {
  .block {
    width: 80%;
    margin: 2vw auto 7vw;
    @include respond-to(w-1919) {
      width: 85%;
    }
    @include respond-to(w-1599) {
      width: 90%;
    }
    @include respond-to(w-1279) {
      width: 100%;
    }
    .bn {
      height: 12vw;
      display: flex;
      margin-bottom: 2.3vw;
      @include a_reset($color-white);
      @include respond-to(w-1919) {
        height: 14vw;
      }
      @include respond-to(w-1599) {
        height: 15vw;
      }
      .image {
        @include set_cover;
        position: relative;
        width: 30%;
        height: 100%;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          @include position_abs;
          background-image: linear-gradient(to right, rgba(183,60,101,0.3) 0%, rgba(183,60,101,0.3) 100%);
          background-color: $color-blue;
          opacity: 0.5;
        }
      }
      .texts {
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        time {
          display: block;
          font-size: 18px;
          color: $color-red;
          @include respond-to(w-1279) {
            font-size: 17px;
          }
        }
        h2 {
          font-size: 27px;
          height: 80px;
          margin-top: 10px;
          transition: $animation_easy;
          color: $color-white;
          @include respond-to(w-1919) {
            font-size: 25px;
          }
          @include respond-to(w-1366) {
            margin-top: 5px;
            font-size: 23px;
          }
          @include respond-to(w-1280) {
            height: 71px;
          }
          @include respond-to(w-1279) {
            height: 64px;
            font-size: 18px;
          }
          &:hover {
            color: $color-red;
          }
        }
        .text {
          height: 52%;
          line-height: 1.4;
          overflow: hidden;
          @include respond-to(w-1599) {
            height: 48%;
          }
          @include respond-to(w-1280) {
            height: 50%;
          }
          @include respond-to(w-1279) {
            height: 44%;
          }
        }
      }
    }
  }
}
.page_showartiles {
  .editor {
    @include cke_reset(20px, $font-Raleway-Regular);
    color: $color-white;
    margin-bottom: 5vw;
    line-height: 1.3;
  }
}
.page_gallary {
  .womans {
    .blocks {
      display: flex;
      flex-wrap: wrap;
      margin: 2vw -1.5vw 4vw;
      .bn {
        width: 33.3%;
        height: 40vw;
        box-sizing: border-box;
        padding: 0 1.5vw;
        margin-bottom: 3vw;
        .box {
          height: 100%;
          background-color: $color-blue;
          border: 1px solid #1e1d2b;
          &:hover {
            .image {
              &:before {
                opacity: 0.2;
              }
            }
          }
          .title {
            height: 50px;
            font-size: 22px;
            text-align: center;
            word-wrap: break-word;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-Cinzel;
            position: relative;
            @include respond-to(w-1280) {
              font-size: 20px;
            }
            @include respond-to(w-1279) {
              height: 40px;
              font-size: 18px;
            }
            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 50%;
              @include position_abs;
              background-image: linear-gradient(to bottom, rgba(183, 60, 101, 0.8) 0%, rgba(183, 60, 101, 0.1) 100%);
            }
          }
          .image {
            @include set_cover;
            height: calc(100% - 50px);
            position: relative;
            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              @include position_abs;
              background-image: linear-gradient(to right, rgba(183,60,101,0.3) 0%, rgba(183,60,101,0.3) 100%);
              background-color: $color-blue;
              opacity: 0.5;
              transition: $animation_easy;
            }
          }
        }
      }
    }
  }
}
footer {
  height: 100vh;
  @include img_cover("../images/footer.jpg");
  padding: 5vw 0;
  box-sizing: border-box;
  .contain {
    height: 80%;
    display: flex;
    align-items: center;
    @include respond-to(w-799) {
      flex-direction: column;
    }
  }
  .left {
    width: 50%;
    @include respond-to(w-799) {
      width: 100%;
    }
    .block {
      .phone {
        @include a_reset($color-white);
        display: block;
        margin-top: 5px;
        font-size: 30px;
        @include respond-to(w-1919) {
          font-size: 27px;
        }
        @include respond-to(w-1366) {
          font-size: 25px;
        }
        @include respond-to(w-1279) {
          font-size: 22px
        }
      }
      strong {
        font-size: 30px;
        font-weight: bold;
        @include respond-to(w-1919) {
          font-size: 27px;
        }
        @include respond-to(w-1366) {
          font-size: 24px;
        }
        @include respond-to(w-1279) {
          font-size: 22px;
        }
      }
      .soc {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        .bn {
          i {
            color: $color-red;
            font-size: 40px;
            @include respond-to(w-1919) {
              font-size: 37px;
            }
            @include respond-to(w-1279) {
              font-size: 30px;
            }
          }
        }
      }
      .js_order {
        background-color: $color-blue;
        box-shadow: $box_shadow;
      }
    }
  }
  .right {
    width: 50%;
    height: 85%;
    @include respond-to(w-799) {
      width: 100%;
    }
    address {
     display: block;
      font-size: 24px;
      font-family: $font-Cinzel;
      @include respond-to(w-1366) {
        font-size: 20px;
      }
    }
  }
}
.section_404 {
  img {
    width: 100%;
  }
}

#map {
  margin-top: 20px;
  height: 100%;
  background-color: $color-black;
  box-shadow: $box_shadow;
  @include respond-to(w-1366) {
    height: 90%;
  }
}

.modal_block {
  display: flex;
  justify-content: center;
  .modal {
    width: 60%;
    height: auto;
    overflow: auto;
    position: fixed;
    top: 15%;
    bottom: 10%;
    opacity: 0;
    visibility: hidden;
    z-index: 21;
    transition: 0.4s ease;
    transform: perspective(1000px) translateY(-100px);
    @include respond-to(w-1439) {
      bottom: 7%;
    }
    .flipper {
      height: auto;
      transition: all 1s ease-in-out;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      background-color: $color-red;
      position: relative;
      .front {
        transform: rotateY(0deg);
        padding: 3% 0;
        backface-visibility: hidden;
        @include respond-to(w-1919) {
          padding: 6% 0;
        }
        @include respond-to(w-1439) {
          padding: 5% 0;
        }
        .flex {
          display: flex;
          justify-content: space-between;
          .f {
            width: calc(50% - 20px);
          }
        }
        form {
          width: 70%;
          display: block;
          margin: auto;
          label {
            width: 100%;
            display: block;
            margin-bottom: 30px;
            @include respond-to(w-1439) {
              margin-bottom: 20px;
            }
            @include respond-to(w-1023) {
              margin-bottom: 13px;
            }
            small {
              font-family: $font-Cinzel;
              font-size: 21px;
              display: block;
              margin-bottom: 10px;
              color: $color-white;
              @include respond-to(w-1919) {
                font-size: 20px;
                margin-bottom: 8px;
              }
              @include respond-to(w-1439) {
                font-size: 18px;
                margin-bottom: 6px;
              }
            }
            input {
              width: 100%;
              height: 60px;
              padding: 0 10px;
              display: block;
              font-size: 26px;
              font-family: $font-Raleway-Regular;
              box-sizing: border-box;
              @include respond-to(w-1919) {
                height: 50px;
                font-size: 22px;
              }
              @include respond-to(w-1439) {
                height: 40px;
                font-size: 20px;
              }
            }
            textarea {
              width: 100%;
              height: 200px;
              resize: none;
              padding: 5px 10px;
              box-sizing: border-box;
              font-size: 26px;
              font-family: $font-Raleway-Regular;
              @include respond-to(w-1919) {
                font-size: 22px;
              }
              @include respond-to(w-1439) {
                font-size: 20px;
              }
            }
          }
          .flex {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            @include respond-to(w-1919) {
              margin-top: 45px;
            }
            @include respond-to(w-1279) {
              margin-top: 40px;
            }
            @include respond-to(w-1023) {
              flex-direction: column;
              margin-top: 35px;
            }
            .radio {
              width: calc(50% - 16px);
              height: 80px;
              border: 2px solid$color-black;
              transition: $animation_easy;
              font-family: $font-Raleway-Regular;
              font-size: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              @include respond-to(w-1919) {
                height: 60px;
                font-size: 24px;
              }
              @include respond-to(w-1599) {
                font-size: 20px;
              }
              @include respond-to(w-1439) {
                height: 50px;
              }
              @include respond-to(w-1023) {
                width: 100%;
              }
              svg {
                @include respond-to(w-1919) {
                  height: 60%;
                }
                path {
                  fill: $color-black;
                }
              }
              span {
                pointer-events: none;
                margin-left: 20px;
              }
              input {
                display: none;
              }
            }
            .active {
              background-color: $color-black;
              color: $color-white;
              svg {
                path {
                  fill: $color-white;
                }
              }
            }
          }
          .js_modal_delivery {
            display: none;
          }
          .button {
            @include button_reset;
            width: 380px;
            height: 75px;
            background-color: $color-blue;
            color: $color-white;
            font-family: $font-Raleway-Regular;
            font-size: 30px;
            margin: 30px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond-to(w-1919) {
              height: 57px;
              margin: 20px auto 0;
            }
            @include respond-to(w-1279) {
              width: 320px;
              height: 50px;
            }
            @include respond-to(w-1023) {
              width: 100%;
            }
            span {
              @include respond-to(w-1599) {
                font-size: 25px;
              }
              @include respond-to(w-1279) {
                font-size: 22px;
              }
            }
            .loading_buy {
              height: 27px;
            }
          }
        }
      }
      .back {
        width: 100%;
        height: 100%;
        transform: rotateY(180deg);
        @include position_abs;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .block {
          width: 50%;
          .icon {
            width: 104px;
            height: 78px;
            @include img_cover('../images/ico_favourite.svg');
            margin: auto;
            @include respond-to(w-1599) {
              transform: scale(0.8);
            }
            @include respond-to(w-1279) {
              transform: scale(0.6);
            }
          }
          .title {
            font-family: $font-Cinzel;
            font-size: 30px;
            text-align: center;
            margin-top: 12px;
            @include respond-to(w-1599) {
              font-size: 28px;
            }
            @include respond-to(w-1279) {
              font-size: 22px;
              margin-top: 8px;
            }
          }
          .desc {
            font-family: $font-Raleway-Regular;
            font-size: 26px;
            text-align: center;
            margin-top: 15px;
            @include respond-to(w-1599) {
              font-size: 22px;
            }
            @include respond-to(w-1279) {
              font-size: 18px;
            }
          }
        }
      }
      .js_modal_cose {
        @include button_reset;
        width: 60px;
        height: 60px;
        @include img_cover("../images/close_modal.svg");
        position: absolute;
        top: 20px;
        right: 20px;
        @include respond-to(w-1919) {
          width: 40px;
          height: 40px;
        }
        @include respond-to(w-1599) {
          width: 30px;
          height: 30px;
        }
      }
    }
    .success {
      transform: perspective(2000px) rotateY(180deg) scale(0.8);
    }
  }
  .modal_active {
    visibility: visible;
    opacity: 1;
    transform: perspective(1000px) translateY(0px);
  }
}
.overlay {
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.loading_buy {
  width: 150px;
  height: 39px;
  margin: 2px auto 3px;
  background: url("../images/loading.gif") no-repeat center;
  background-size: contain;
  display: block;
}